<div id="container">
    <div id="quiz-container">
        <div id="header">
            <h1>Quiz</h1>
            <p>You have to answer all this questions right !</p>
        </div>
        <hr>
        <div id="questions">
            <h2 id="question-number">1. question:</h2>
            <p id="question">What is the..................... ?</p>
            <div id="options">
                <input type="checkbox"><span>first option</span><br>
                <input type="checkbox"><span>second option</span><br>
                <input type="checkbox"><span>third option</span>
            </div>
            <div id="is-correct">
                <span class="glyphicon glyphicon-ok"></span><p>Correct</p>
            </div>
   
        </div>
        <hr>
        <div id="button-submit">
            <button class="btn btn-primary">Submit</button>
        </div>
        <div id="footer">
            <button class="btn btn-primary">Back</button>
        </div>
    </div>
</div>
