<div id="container">
    <div id="quiz-container">
        <div id="header">
            <div id="username">
                <p>Username: {{playerName}}</p>
            </div>
            <h1>Quiz</h1>
            <p>You have to answer all this questions right !</p>
        </div>
        <hr>
        <div id="questions">
            <h2 id="question-number">{{count + 1}}. question:</h2>
            <p id="question">What is the..................... ?</p>
            <div id="options">
                <input type="checkbox"><span id="option1">first option</span><br>
                <input type="checkbox"><span id="option2">second option</span><br>
                <input type="checkbox"><span id="option3">third option</span>
            </div>
            <div id="buttons-witch-question">
                <div id="button-previous-div">
                    <button id="button-previous" class="btn btn-default" [disabled]="countBooleanPrevious()" (click)="countMinusOne()" (click)="generateQuestion()">Previous</button>
                </div>
                <div id="button-next-div">
                    <button id="button-next" class="btn btn-default" [disabled]="countBooleanNext()" (click)="countPlusOne()" (click)="generateQuestion()">Next</button>
                </div>
            </div>
            <!-- <div id="is-correct">
                <span class="glyphicon glyphicon-ok"></span><p>Correct</p>
            </div> -->
   
        </div>
        <hr>
        <div id="button-submit">
            <button class="btn btn-success" (click)="submitResult()">Submit</button>
        </div>
        <div id="footer">
            <button class="btn btn-danger" (click)="previousPage()">Back</button>
        </div>
    </div>
</div>
