#questions {
    height: 340px;
}
#question-number {
    text-align: left;
    padding-left: 50px;
    font-size: 36px;
}

#question {
    text-align: left;
    padding-left: 50px;
    font-size: 24px;
}

#options {
    text-align: left;
    padding-left: 150px;
    font-size: 24px;
}


#options span {
    margin-left: 10px;
}

#buttons-witch-question {
    padding-top: 50px;
    display: flex;
}
#button-previous-div{
    flex: 1;
    text-align: left;
}
#button-previous{
    margin-left: 20px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}
#button-next-div{
    flex: 1;
    text-align: right;
    margin-right: 20px;
}
#button-next{
    margin-left: 20px;
    height: 50px;
    width: 150px;
    font-size: 18px;
}


/* #is-correct {
    padding-top: 50px;
    padding-right: 60px;
    color: green;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: right;
} */

#is-correct span {
    margin-right: 3px;
}

#button-submit {
    height: 100px;
}
#button-submit button {
    font-size: 24px;
    height: 70px;
    width: 200px;
}