<form [formGroup]="radioButtonsForm">
    <div id="questions">
        <h2 id="question-number">{{count + 1}}. question:</h2>
        <p id="question"></p>

        <!-- <div id="options">
            <input formControlName="radioOptions" type="radio" name="radioOptions" value="{{addOfferedAnswers()[0]}}"><span>{{addOfferedAnswers()[0]}}</span><br>
            <input formControlName="radioOptions" type="radio" name="radioOptions" value="{{addOfferedAnswers()[1]}}"><span>{{addOfferedAnswers()[1]}}</span><br>
            <input formControlName="radioOptions" type="radio" name="radioOptions" value="{{addOfferedAnswers()[2]}}"><span>{{addOfferedAnswers()[2]}}</span><br>
        </div> -->
        <div id="options" *ngFor="let value of addOfferedAnswers()">
            <input formControlName="radioOptions" type="radio" name="radioOptions" [ngModel]="answers[count]" [value]="value"><span>{{value}}</span><br>
        </div>
        

        <div id="buttons-witch-question">
            <div id="button-previous-div">
                <button type="submit" id="button-previous" class="btn btn-default" [disabled]="countBooleanPrevious() || !radioButtonsForm.get('radioOptions').valid"  (click)="clickPrevious()">Previous</button>
            </div>
            <div id="button-next-div">
                <button type="submit" id="button-next" class="btn btn-default" [disabled]="countBooleanNext()  || !radioButtonsForm.get('radioOptions').valid" (click)="clickNext()">Next</button>
            </div>
        </div>
    </div>
    <hr>
    <div id="button-submit">
        <button class="btn btn-success" type="submit" [disabled]="!radioButtonsForm.get('radioOptions').valid" (click)="submitResult()">Submit</button>
    </div>
</form>
