<div id="container">
    <div id="homepage">
        <div id="header">
            <div id="name">
                <label for="name">Enter name:</label>
                <input id="text-input" type="text" placeholder="Name" [(ngModel)]="playerName">
                
            </div>
            <div  id="button-start">
                <button id="start-quiz" class="btn btn-success" (click)="playQuiz(playerName)">Go !!!</button>
            </div>
        </div>
        <div id="footer">
            <button id="back" class="btn btn-danger" (click)="previousPage()">Back</button>
        </div>
    </div>
</div>
